@layer utilities {
  // todo

  .filter-none {
    filter: none;
  }
  .filter-grayscale {
    filter: grayscale(100%);
  }

  .link-neutral {
    &:link,
    &:visited,
    &:hover,
    &:active {
      @apply text-inherit no-underline;
    }
  }

  .link-primary {
    &:link {
      @apply text-blue-600;
    }
    &:visited {
      @apply text-purple-600;
    }
    &:hover {
      @apply text-blue-800 cursor-pointer;
    }
    &:active {
      @apply text-red-600;
    }
  }

  @variants responsive {
    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
      display: none;
    }

    /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none; /* Firefox */
    }
  }
}
